/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

:root {
    --white: white;
    --grey: #cfd8dd;
    --green: #476c35;
    --stone: #e8ece6;
    --sky: #a6bdcc;
    --marine: #1e3d51;

    --medium: 3rem;
    --medium-small: 2.5rem;
    --large: 6rem;
    --small: 1.5rem;

    --container-small: 40rem;
    --container-medium: 48rem;
    --container-large: 64rem;
    --container-xlarge: 80rem;
    --container-xxlarge: 96rem;


  }

@font-face {
    font-family: Hammersmith One;
    src: url(src/HammersmithOne-Regular.ttf);
  }
@font-face {
    font-family: Outfit Variable;
    src: url(src/Outfit-VariableFont_wght.ttf);
  }

body {
    margin: 0;
    text-align: center;

    font-family: Outfit Variable;
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-family: Hammersmith One;
}
h2 {
    color: var(--white);
    font-size: 2vw;
   
}

.section_heading {
    font-size: var(--medium-small);
    margin-bottom: var(--medium);
}

.hero {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/burton.jpeg);
    background-size: cover;
    background-position: top center;
}
.hero_title-wrapper {
    max-width: 60vw;

}
.hero_title {
    font-size: 7vw;
    color: var(--white);
    line-height: 1;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 80vw;
    min-width: 75vw;
    margin: 0px auto;
}
.card {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.214);
    transition: 300ms ease;
}

img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1;
    object-fit: cover;
}
.card:hover {
    scale: 1.05;
    transition: 300ms ease;
}
.card-text {
    line-height: 1.5;
}
.card-title {
    font-size: var(--small);
    padding: 20px 0;
}

.activities {
    padding: var(--large) var(--medium);
    background-color: var(--stone);
}

.guide {
    padding: var(--large) var(--medium);
    background-color: var(--marine); 
    color: var(--white);
    margin: 0px auto;
}

.container-small {
    max-width: var(--container-small);
    margin: 0 auto;
}

.container-medium {
    max-width: var(--container-medium);
    margin: 0 auto;}

.container-large {
    max-width: var(--container-large);
    margin: 0 auto;
}

.container-xlarge {
    max-width: var(--ccontainer-xlarge);
    margin: 0 auto;
}

.container-xxlarge {
    max-width: var(--container-xxlarge);
    margin: 0 auto;
}
.avatar {
    max-width: var(--medium);
    margin: 0 auto;
}
.jeans {
    display: flex;
    flex-direction: row;
    padding: var(--small);
    background-color: var(--white);
    border-radius: 10px;
    border-bottom: 16px solid var(--grey);
    transition: 600ms ease;
}
.jeans_content-wrapper {
    padding: var(--small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--marine);

}

.jeans:hover {
    transition: 600ms ease;
    scale: 1.01;
}

footer {
    padding: var(--medium) 0;
    background-color: var(--sky);
}