/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
@font-face {
    font-family: Hammersmith One;
    src: url(/src/HammersmithOne-Regular.ttf);
  }
@font-face {
    font-family: Outfit Variable;
    src: url(/src/Outfit-VariableFont_wght.ttf);
  }


body {
    margin: 0;
    text-align: center;

    font-family: Outfit Variable;
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-family: Hammersmith One;
}

img {
    width: 100px;
}
